$primary: #537780;
$accent: #55e9bc;

$background-body: #fff;
$background-body-secondary: #55e9bc;

$text-error: #ff1744;

.flex-centered {
    display: flex;
    align-items: center;
    justify-content: center;
}
