$primary: #537780;

$textDark: #252525;
$textLight: #fff;

$background-body: #fff;
$background-body-secondary: #55e9bc;


.flex-centered {
    display: flex;
    align-items: center;
    justify-content: center;
}
